@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* styles/globals.css */

:root {
	--primary-gradient: linear-gradient(to bottom right, #252627, #0f0f0f);
	--accent-color: #FFD700; 
	--neutral-color: #f5f5f5;
  }
  

@media (prefers-color-scheme: dark) {
	:root {
		--primary-gradient: linear-gradient(to bottom right, #252627, #0f0f0f);
		--accent-color: #FFD700; 
		--neutral-color: #f5f5f5;
	}
}

body {
  background: (--primary-gradient)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
