/* components/Introduction.module.css */

.main {
	padding: 2rem;
	background-color: var(--neutral-color);
	color: #252627;
  }
  
  .content {
	max-width: 800px;
	margin: 0 auto;
  }
  
  @media (max-width: 768px) {
	.content {
	  padding: 0 1rem;
	}
  }
  